In [1]:
import psycopg2 as pg2
import pandas as pd

In [8]:
conn = pg2.connect(database='dvdrental', user='kevindeeboman')
cur = conn.cursor()

In [9]:
def show_res(cur, head=False):
    res = cur.fetchall()
    col_names = [desc[0] for desc in cur.description]
    df = pd.DataFrame(data= res, columns=col_names)
    if head == True:
        display(df.head(3))
    else:
        display(df)

In [11]:
# SHOW ALL # Shows the parameters of run-time parameters #
cur.execute("""
    SHOW ALL
    ;
    """)
show_res(cur)
# From the list we can look at a specific parameter such as set TIMEZONE #
cur.execute("""
    SHOW TIMEZONE
    ;
    """)
show_res(cur)

,name,setting,description
0,allow_system_table_mods,off,Allows modifications of the structure of syste...
1,application_name,,Sets the application name to be reported in st...
2,archive_cleanup_command,,Sets the shell command that will be executed a...
3,archive_command,(disabled),Sets the shell command that will be called to ...
4,archive_mode,off,Allows archiving of WAL files using archive_co...
...,...,...,...
324,wal_writer_flush_after,1MB,Amount of WAL written out by WAL writer that t...
325,work_mem,4MB,Sets the maximum memory to be used for query w...
326,xmlbinary,base64,Sets how binary values are to be encoded in XML.
327,xmloption,content,Sets whether XML data in implicit parsing and ...
328,zero_damaged_pages,off,Continues processing past damaged page headers.

           TimeZone
0  Europe/Stockholm